* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", arial;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner img {
  margin: 0px auto;
  width: 80vw;
  height: 50vh;
  object-fit: cover;
  background-position: 80% 0%;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  top: 2rem;
  margin-right: 5.5rem;
}

nav a {
  text-align: center;
  color: #fff;
  background-color: rgb(68, 114, 196);
  text-decoration: none;
  border: 1px solid #000;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.75);
  margin-right: 5px;
  padding: 0.3rem;
}

nav a:hover,
nav a[href="#"] {
  background-color: rgb(112, 173, 71);
}

h1 {
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: row;
  padding: 2rem 5rem;
  column-gap: 1.5rem;
}

aside {
  display: flex;
  flex-direction: column;
}

aside img {
  height: 200px;
  width: 200px;
}
p {
  text-indent: 1rem;
}

.game-info_container {
  flex-direction: column;
  padding: 0rem 8.8rem;
}

h5{
  text-decoration-line: underline;
}

table, tr, td {
  border: 1px black solid;
  border-collapse: collapse;
  text-align: center;
}

table {
  margin: 2.3rem 10rem;
}

.dl-inline {
  padding-bottom: 1rem;
}

.dl-inline > dt,
.dl-inline > dd {
  display: inline;
}

.dl-inline > dt {
  font-weight: bold;
}

.dl-contacto {
  display: flex;
  justify-content: space-between;
}

.list{
  list-style-type: none;
}

h4{
  padding: 1rem 0;
}

.list-container{
  padding: 0 1rem;
}

.li-padding{
  padding: .4rem 0;
}

ul li{
  margin-left: 3.5rem;
}

